<div class="container__big-card">
    
        <div class="big-card__img">
            <img 
                src="../../../assets/imgs/image-placeholder.jpg" 
                alt="Imagem aleatória para quando não ter fotos"
                height="250px"
                
            >
        </div>
    
        <div class="big-card__title">
            <a href="#">
                Saiu a nova versão do angular
            </a>
        </div>
    
        <div class="big-card__description">
            <a>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc at augue velit. Curabitur congue augue tellus, a bibendum felis finibus et.
                Proin ullamcorper posuere tortor, quis lobortis nibh fermentum eget. Donec ipsum purus, egestas vel faucibus non, lacinia et turpis.
                Maecenas interdum ultricies est id efficitur.
                
            </a>
        </div> 
    
</div>