.container__articles {
    display: flex;
    margin-top: 30px;
    justify-content: center;

}

header {
    width: 100%;
}
// .articles > .article__main {
//     border: 1px solid #fff;
    
//     width: 70%;
// }

// .articles > .article__second {
//     border: 1px solid #fff;
    
//     width: 30%;
// }